src/main/resources/hotels.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:tns="http://localhost:8080/"
        targetNamespace="http://localhost:8080/"
        elementFormDefault="qualified">

    <xs:complexType name="Hotel">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="address" type="xs:string"/>
            <xs:element name="rating" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>